page-completedTasks {

}

.done{
	color: #a3dd7f;
}

.responsablePerson{
	font-size: 10pt;
	float: right;
	margin-right: 20px;
}

#title{
	text-align: center;
}

#home{
	color: #dfba1f;
}

p{
white-space: normal;
}