<ion-header>
  <ion-navbar>
    <ion-title id="title"><ion-icon name="home" item-start id="home"></ion-icon> Tasks</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

<ion-grid>
<ion-row>
<ion-col col-12>
  <ion-list>
	  <ion-item *ngFor="let task of tasks">
	  <ion-icon name="arrow-round-forward" item-start></ion-icon>
		<h2>{{task.name}}</h2>
		<h3>{{task.task}}</h3>
		<p>Deadline: <strong>{{task.deadline}}</strong></p>
		<ion-icon *ngIf="task.status == 0" name="thumbs-down" class="over-time" item-end></ion-icon>	
		<ion-icon *ngIf="task.status == 1" name="checkmark-circle" class="done" item-end></ion-icon>
		<ion-icon *ngIf="task.status == 2" name="alert" class="attention" item-end></ion-icon>			
	</ion-item>
	</ion-list>  
</ion-col>
</ion-row>
</ion-grid>

<ion-grid>
	<ion-row>
		<ion-col col-12 align="center">
			<button ion-button icon-left (click)="showPrompt();">
			  <ion-icon name="add"></ion-icon>
			  Add new task
			</button>
		</ion-col>
	</ion-row>
</ion-grid>

</ion-content>
