page-home {

}

.over-time{
	color: #c55c5c;
}

.attention{
	color: #e2ac56;
}

.done{
	color: #a3dd7f;
}

.responsablePerson{
	font-size: 10pt;
	float: right;
	margin-right: 20px;
}

#title{
	text-align: center;
}